<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {%load static%}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <title></title>
</head>
<body>
    <nav>
        <a href="/">Logout</a>||
        <a href="/book/add">Add Book and Review</a>
    </nav>
    <h2>Welcome, {{user.first_name}}!</h2>

    <h3>Recent Book Reviews:</h3>
    
    <div class="book_display">
        {%for book in all_book%}
        <div class="each_book">
            <a href="/book/book_detail/{{book.id}}">{{book.title}}</a>
                <p>Rating: {{book.rating}}</p>
                <p><h6>{{book.user.first_name}}</h6> says: {{book.review}}</p>
                <p>Posted on {{book.created_at}}</p>

        </div>
        {%endfor%}
    </div>
</body>
</html>