<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <p>Random Word (attempt # {{request.session.counter}} )</p>
        <textarea class='word_box'>{{request.session.random_word}}</textarea>
    </div>
    <div>        
    <a href="/random_word" class="btn btn-success">Generate</a>
    <a href="/clear_screen" class="btn btn-danger">Reset</a>
    </div>
</body>
</html>