{%extends 'index.html'%}
{%block content%}

<form action="/add_user" class="register_form-shadow" method='POST'>
    {% csrf_token %}
    <div>First Name</div>
    <div><input type="text" name="first_name"></div>
    <div>Last Name</div>
    <div><input type="text" name="last_name"></div>
    <div>Email</div>
    <div><input type="text" name="email_register"></div>
    <div>Password</div>
    <div><input type="password" name="password_register"></div>
    <div>Confirm PW</div>
    <div><input type="password" name="confirm_password"></div>
    <button type="submit">Register</button>
    <!-- <input type="submit" value="Register"> -->
</form>

<form action="/login" class="login_form" method='POST'>
    {% if messages %}
        <ul>
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}




    {% csrf_token %}
    <div>Email</div>
    <div><input type="text" name="email_login"></div>
    <div>Password</div>
    <div><input type="password" name="password_login"></div>
    <button type="submit">Login</button>
    <!-- <input type="submit" value="Log In"> -->
</form>



{%endblock content%}