{%extends 'index.html'%}
{%block content%}
    <h1>Add a New Show</h1>

{%if messages%}
<ul class="messages">
    {% for message in messagees%}
        <li {% if message.tags%} class="{{message.tags}}"{%endif%}>{{message}}
        </li>
    {%endfor%}
</ul>
{%endif%}
    <form action="/add_tvshow" method='POST'>
        {% csrf_token %}
        <div>Title</div>
        <div><input type="text" name="title" required minlength="1"></div>
        <table>
            <tr>
                <th>Network</th>
                <th>Release Date</th>
            </tr>
            <tr>
                <td><input type="text"name='network' required minlength="3" ></td>
                <td><input type="date" name="release_date"></td>
            </tr>
        </table>
        <div>Description</div>
        <div><textarea type="text" name="desc" required minlength="10"></textarea></div>
        <input class="add_show_button" type="submit" name="add_tvshow" value="Add">

    </form>
{%endblock content%}